/* extra small device */
@media (max-width: 575px) {
      #datatable_length {
    display: none;
}
.headerTextcabl{
    font-size: 20px !important;
    font-weight: bold;
}
}

/* small device */
@media (min-width: 576px) and (max-width: 767px) {
      #datatable_length {
    display: none;
}
}

/* medium device */
@media (min-width: 768px) and (max-width: 991px) {
}

/* medium device */
@media (min-width: 992px) and (max-width: 1366px) {
}
/* medium device */
@media (min-width: 1367px) and (max-width: 1800px) {
}
